/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: transparent;
    position: fixed;
    z-index: 1;
    width: 100%;
    
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
    text-align: right;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  .topnav p {
    color: transparent;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: transparent;
    color:black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }