<!DOCTYPE html>
<html>
<head>
<title>FAQ</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>

<div class="box">
  {% include 'newnav.html' %}
  <div class="w3-container bg-smoky-green first-section faq-main" id="us">
    <p>Enter Passphrase (in invitation)</p>
    <form action="{{url_for('auth')}}" method="post" name="passwordform">
        <input type="password" name="passphrase">
        <input type="submit">
    </form>
  </div>
</div>
</body>
</html>
