<!DOCTYPE html>
<html>
<head>
<title>Guy And Leah</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>

{% include 'newnav.html' %}
<!-- Header / Home-->
<header class="w3-display-container w3-wide bgimg w3-grayscale-min">
  <div class="w3-display-middle w3-text-black w3-center header-text">
    <h1 class="name-text">Leah & Guy</h1>
    <h2 class="date-text"><b>07.08.2023</b></h2>
    <h2 class="date-text"><b>Olympic Valley, CA</b></h2>
  </div>
</header>

<!-- Wedding information -->
<div class="w3-container w3-padding-64 w3-pale-red w3-grayscale-min w3-center bg-sage" id="wedding">
  <div class="w3-content bg-sage">
    <h1><b>Welcome Drinks</b></h1>
    <div class="w3-row">
        <H2>July 7, 2023</H2>
        <p>Location TBD</p>
        <p>8:00 PM - 10:00 PM</p>
      </div>
    </div>
    </br><hr class="hr-line"></br>
    <h1><b>Wedding Day</b></h1>
    <div class="w3-row">
        <h2>July 8, 2023</h2>
        <p>Everline Resort & Spa</p>
        <p>Ceremony @ 4:30 PM, Cocktail Hour & Reception to follow</p>
        <p>After party 10 PM to late</p>
    </div>
    </br><hr class="hr-line"></br>
    <h1><b>Brunch</b></h1>
    <div class="w3-row">
        <h2>July 9, 2023</h2>
        <p>Cascades @ The Everline Resort & Spa</p>
        <p>9:00 AM - 11:00 AM</p>
    </div>
  </div>
</div>
</body>
</html>
