<!DOCTYPE html>
<html>
<head>
<title>Guy And Leah</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>

<!-- Header / Home-->
<header class="w3-display-container w3-wide bgimg w3-grayscale-min">
  {% include 'newnav.html' %}

  <div class="w3-display-middle w3-text-white w3-center">
    <h1 class="w3-jumbo">Leah & Guy</h1>
    <h2><b>07.08.2023</b></h2>
    <h2><b>Olympic Valley, CA</b></h2>
  </div>
</header>

<!-- Wedding information -->
<div class="w3-container w3-padding-64 w3-pale-red w3-grayscale-min w3-center bg-sage" id="wedding">
  <div class="w3-content bg-sage">
    <h1><b>Welcome Drinks</b></h1>
    <div class="w3-row">
      <div class="w3-half">
        <h2>When</h2>
        <p>July 7, 2023</p>
        <p>8:00 PM - 10:00 PM</p>
      </div>
      <div class="w3-half">
        <h2>Where</h2>
        <p>TBD</p>
      </div>
    </div>
    </br><hr class="hr-line"></br>
    <h1><b>Wedding Day</b></h1>
    <div class="w3-row">
      <div class="w3-half">
        <h2>When</h2>
        <p>July 8, 2023</p>
        <p>Ceremony - 4:30 PM - 5:00 PM</p>
        <p>Cocktail Hour - 5:00 PM - 6:00 PM</p>
        <p>Reception - 6:00 PM - 10:00 PM</p>
        <p>After party to follow</p>
      </div>
      <div class="w3-half">
        <h2>Where</h2>
        <p>Resort at Squaw Creek</p>
        <p>Olympic Valley, CA</p>
      </div>
    </div>
    </br><hr class="hr-line"></br>
    <h1><b>Brunch</b></h1>
    <div class="w3-row">
      <div class="w3-half">
        <h2>When</h2>
        <p>July 9, 2023</p>
        <p>9:00 AM - 11:00 AM</p>
      </div>
      <div class="w3-half">
        <h2>Where</h2>
        <p>Cascades @ The Resort at Squaw Creek</p>
      </div>
    </div>
  </div>
</div>

<!-- RSVP section -->
<!-- <div class="w3-container w3-padding-64 w3-pale-red w3-center w3-wide" id="rsvp">
  <h1>HOPE YOU CAN MAKE IT!</h1>
  <p class="w3-large">Kindly Respond By January, 2017</p>
  <p class="w3-xlarge">
    <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-round w3-red w3-opacity w3-hover-opacity-off" style="padding:8px 60px">RSVP</button>
  </p>
</div> -->

<!-- RSVP modal -->
<!-- <div id="id01" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="padding:32px;max-width:600px">
    <div class="w3-container w3-white w3-center">
      <h1 class="w3-wide">CAN YOU COME?</h1>
      <p>We really hope you can make it.</p>
      <form>
        <input class="w3-input w3-border" type="text" placeholder="Name(s)" name="name">
      </form>
      <p><i>Sincerely, Guy & Leah</i></p>
      <div class="w3-row">
        <div class="w3-half">
          <button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-button w3-block w3-green">Going</button>
        </div>
        <div class="w3-half">
          <button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-button w3-block w3-red">Can't come</button>
        </div>
      </div>
    </div>
  </div>
</div> -->

</body>
</html>
