

<!-- Navbar (sticky bottom) -->
<div class="w3-bottom w3-hide-small">
    <div class="w3-bar w3-white w3-center w3-padding w3-opacity-min w3-hover-opacity-off">
      <a href="{{ url_for('home') }}#home" style="width:16%" class="w3-bar-item w3-button">Home</a>
      <a href="{{ url_for('home') }}#us" style="width:16%" class="w3-bar-item w3-button">Leah & Guy</a>
      <a href="{{ url_for('home') }}#wedding" style="width:17%" class="w3-bar-item w3-button">Wedding</a>
      <a href="{{ url_for('travel') }}" style="width:17%" class="w3-bar-item w3-button">Travel Info</a>
      <a href="#rsvp" style="width:17%" class="w3-bar-item w3-button w3-hover-black">RSVP</a>
      <a href="#registry" style="width:17%" class="w3-bar-item w3-button w3-hover-black">Registry</a>
    </div>
</div>
  