<script src="{{ url_for('static', filename='js/newnav.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/newnav.css') }}">

<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  <a href="{{ url_for('home') }}">Home</a>
  <a href="{{ url_for('travel') }}">Travel & Lodging</a>
  <a href="{{ url_for('thingstodo') }}">Things to Do</a>
  <a href="{{ url_for('faq') }}">FAQ</a>
  <a href="{{ url_for('registry') }}">Registry</a>
</div>
<button class="openbtn" onclick="openNav()">☰</button>  