<!DOCTYPE html>
<html>
<head>
<title>Registry</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
<div>{% include 'newnav.html' %}</div>
<div class="w3-container w3-padding-64 first-section" id="us">
    <div class="w3-content">
      <h1 class="w3-center"><b>Check back soon...</b></h1>
</div>