<!DOCTYPE html>
<html>
<head>
<title>Travel</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
{% include 'newnav.html' %}
<div class="w3-container w3-padding-64 bg-smoky-green first-section" id="us">
    <div class="w3-content">
      <h1 class="w3-center"><b>Flights</b></h1>
      <div class="standard-text">
        <p>Reno/Tahoe is the closest airport to the venue, but you might find more flight options into California airports a bit further away</p></br>
        <p>Reno (RNO) - 50 min drive to venue</p>
        <p>Sacramento (SAC) - 2hr drive to venue</p>
        <p>Oakland (OAK) - 3.5hr drive to venue</p>
        <p>San Francisco (SFO) - 4hr drive to venue</p>
      </div>
    </div>
</div>

<div class="w3-container w3-padding-64 w3-grayscale-min" id="us">
    <div class="w3-content">
      <h1 class="w3-center w3-text-grey"><b>Lodging</b></h1>
      <div class="left-text">
        <p class="extra-margin">We recommend that guests stay in <a href="https://www.google.com/maps/place/Olympic+Valley,+CA+96146/@39.1974275,-120.2363684,15.19z/data=!4m5!3m4!1s0x809bd9eb8ed78e61:0x84b9b4fc9269314f!8m2!3d39.1969804!4d-120.2357055">Olympic Valley</a>. The Olympic Village (which is part of the Olympic Valley) is where you'll find most of the bars, shops, restaurants, and several lodging options. A <5 minute shuttle or 20 minute walk from the village will take you to the Resort at Squaw Creek which is where the wedding reception and brunch will be held.</p>
        <p class="extra-margin">There is a public shuttle that runs daily until 10pm between the Village and the Resort at Squaw Creek. We will also be providing additional transportation for extended hours within Olympic Valley the day of the wedding.</p>
        <p class="extra-margin">There are some great Airbnbs in Olympic Valley if you are coming with a larger group. If you are wondering if our transportation will pick up at your Airbnb, please contact Guy or Leah to confirm. Below are some hotels in the Village with a range of options. Prices at these are subject to change, so we recommend booking early. </p>
        <div class="standard-text">
          <p class="hotel-name"><a href="https://www.hyatt.com/en-US/group-booking/RNODH/G-R0MZ">Resort at Squaw Creek</a></p>
          <i>We have a block rate with rooms starting at $399 per night. Book online at this link, or reference Schatz/Cassetta if you are calling to book </i>
          <p class="hotel-name"><a href="https://www.palisadestahoe.com/plan-your-visit/lodging">The Village at Palisades<a></p>
          <i>In the heart of the action with the best rates in the Village</i> 
          <p class="hotel-name"><a href="{{ url_for('static', filename='docs/plumpjack.pdf') }}">PlumpJack Inn<a></p>
          <i>A cozy and quiet hotel on the edge of the Village. Follow the instructions in the link above to book via phone to receive our event discount.</i>
        </div>
      </div>
    </div>
</div>
